.form-builder {
  &-container {
    padding: 20px 0 0;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }
  }

  &-title {
    display: block;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
}
