.text-area {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background: transparent;
  border: 1px solid #4e5c6f;
  transition: border .4s;

  &:focus {
    outline: none;
    border: 1px solid #00dab2;
  }
}
