@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import 'reset.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right bottom, #ee8790, #a03f50);
  background-repeat: no-repeat;
}


.app {
  &-container {
    width: 300px;
    margin: 15% auto 0;
    padding: 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px, rgba(0, 0, 0, 0.2) 0px 3px 10px;
  }

  &-title {
    font-size: 24px;
    padding-bottom: 15px;
  }
}
