.input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #4e5c6f;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  transition: border .4s;

  &:focus {
    outline: none;
    border-bottom: 1px solid #00dab2;
  }
}
