.modal {
  &-bg {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5;
  }

  &-container {
    position: relative;
    min-width: 350px;
    max-width: 800px;
    padding: 30px;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #394c63, #253244);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.2) 0px 15px 20px;
    z-index: 6;
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    padding: 0;
    outline: none;
    border: none;
    font-size: 16px;
    color: #4e5c6f;
    cursor: pointer;
    background-color: transparent;
    transition: text-shadow .4s, color .4s;

    &:hover {
      text-shadow: 0 0 15px #fff;
      color: #fff;
    }
  }
}
